*.h linguist-language=C++
uMachines/cube.h linguist-generated=true
uMachines/CustomMesh.h linguist-generated=true
uMachines/stb_image.h linguist-vendored=true
uMachines/OBJ_Loader.h linguist-vendored=true
uMachines/Cars/OptimizedHeaders/* linguist-generated=true
uMachines/BmwMeshes.h linguist-generated=true
uMachines/Bmw.h linguist-generated=true
