*.h linguist-language=C++
uMachines/cube.h linguist-generated=true
uMachines/CustomMesh.h linguist-generated=true
uMachines/stb_image.h linguist-vendored=true
uMachines/OBJ_Loader.h linguist-vendored=true
uMachines/Cars/OptimizedHeaders/* linguist-generated=true
uMachines/BmwMeshes.h linguist-generated=true
uMachines/Bmw.h linguist-generated=true
uMachines3JS/OBJLoader.js linguist-vendored=true
uMachines3JS/MTLLoader.js linguist-vendored=true
uMachines3JS/Lensflare.js linguist-vendored=true
uMachines3JS/OrbitControls.js linguist-vendored=true
uMachines3JS/Reflector.js linguist-vendored=true
uMachines3JS/SceneUtils.js linguist-vendored=true
uMachinesVR/OBJLoader.js linguist-vendored=true
uMachinesVR/MTLLoader.js linguist-vendored=true
uMachinesVR/Lensflare.js linguist-vendored=true
uMachinesVR/OrbitControls.js linguist-vendored=true
uMachinesVR/Reflector.js linguist-vendored=true
uMachinesVR/SceneUtils.js linguist-vendored=true
uMachinesVR/DeviceOrientationControls.js linguist-vendored=true
uMachinesVR/StereoEffect.js linguist-vendored=true
